<footer class="footer">
  <div class="container-xxl">
    <div class="row gy-2 justify-content-center">
      <div class="col-auto">
        <a class="navbar-brand" href="#">
          {{{image "src/assets/images/bl-logo.svg" "Boudreau Labs" null null}}}
        </a>
      </div>
      <div class="col-12 text-center">
        <p class="small fw-light text-muted">&copy;{{year}} BoudreauLabs - <a href="https://www.boudreaulabs.com" class="text-muted">www.boudreaulabs.com</a> - All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
