{{!--

  Example:
  --------
  {{#>page-layout-base}}
    {{#*inline "header-content"}}
    {{/inline}}
    {{#*inline "main-content"}}
    {{/inline}}
    {{#*inline "footer-content"}}
    {{/inline}}
    {{#*inline "end-page-include"}}
    {{/inline}}
  {{/page-layout-base}}

 --}}
<!-- BEGIN: Header Content -->
{{#>header-content}}
{{/header-content}}
<!-- END: Header Content -->
<main id="main-content" tabindex="0">
  <!-- BEGIN: Main Content -->
  {{#>main-content}}
  {{/main-content}}
  <!-- END: Main Content -->
</main>
  <!-- BEGIN: Footer Content -->
  {{#>footer-content}}
    {{>footer}}
  {{/footer-content}}
  <!-- END: Footer Content -->
<!-- BEGIN: End of Page include -->
{{#>end-page-include}}
{{/end-page-include}}
<!-- END: End of Page include -->
