.modal {
  --#{$prefix}modal-header-padding: 0 1rem;

  -webkit-backdrop-filter: blur(spacing(3)) brightness(50%);
          backdrop-filter: blur(spacing(3)) brightness(50%);
}


.modal-body {
  @include media-breakpoint-up(lg) {
    max-height: 65vh;
  }
}
