// Bootstrap Variables
// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

// =======
// Options
// =======
// Quickly modify global styling by enabling or disabling optional features.
$enable-caret:                true;
$enable-rounded:              false;
$enable-shadows:              false;
$enable-gradients:            false;
$enable-transitions:          true;
$enable-reduced-motion:       false;
$enable-smooth-scroll:        true;
$enable-grid-classes:         true;
$enable-container-classes:    true;
$enable-cssgrid:              false;
$enable-button-pointers:      true;
$enable-rfs:                  true;
$enable-validation-icons:     false;
$enable-negative-margins:     false;
$enable-deprecation-messages: true;
$enable-important-utilities:  true;

$enable-dark-mode:            true;
$color-mode-type:             data; // `data` or `media-query`

$prefix:                      bl-;

// ===============
// Bootstrap Icons
// ===============
$bootstrap-icons-font-dir: "../fonts";

// ============
// Color system
// ============
$white:    #fff;
$gray-100: #e2e2e2;
$gray-200: #c6c6c6;
$gray-300: #ababab;
$gray-400: #919191;
$gray-500: #777777;
$gray-600: #5e5e5e;
$gray-700: #474747;
$gray-800: #303030;
$gray-900: #1b1b1b;
$black:    #000;

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$primary:       $cyan;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        #e66e65;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

// ===============
// Swiper
// ===============
$themeColor: $primary;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark".
// Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio:   4.5;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark:      $black;
$color-contrast-light:     $white;


// =================
// Components
// =================
$border-width:                1px;
$border-widths:               (
                                1: 1px,
                                2: 2px,
                                3: 3px,
                                4: 4px,
                                5: 5px
                              );
$border-style:                solid;
$border-color:                $gray-300;
$border-color-translucent:    rgba($black, .175);

$border-radius:               .375rem;
$border-radius-sm:            .25rem;
$border-radius-lg:            .5rem;
$border-radius-xl:            1rem;
$border-radius-xxl:           2rem;
$border-radius-pill:          50rem;
$border-radius-2xl:           $border-radius-xxl; // Deprecated in v5.3.0

$box-shadow:                  0 .5rem 1rem rgba($black, .15);
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
$box-shadow-lg:               0 1rem 3rem rgba($black, .175);
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075);

$component-active-color:      $white;
$component-active-bg:         $primary;

$focus-ring-width:            .25rem;
$focus-ring-opacity:          .25;
$focus-ring-color:            rgba($primary, $focus-ring-opacity);
$focus-ring-blur:             0;
$focus-ring-box-shadow:       0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;

$caret-width:                 .3em;
$caret-vertical-align:        $caret-width * .85;
$caret-spacing:               $caret-width * .85;

$transition-base:             all .2s ease-in-out;
$transition-fade:             opacity .15s linear;

$transition-collapse:         height .35s ease;
$transition-collapse-width:   width .35s ease;

$aspect-ratios:               (
                                "1x1": 100%,
                                "4x3": calc(3 / 4 * 100%),
                                "16x9": calc(9 / 16 * 100%),
                                "21x9": calc(9 / 21 * 100%)
                              );


// =======
// Spacing
// =======
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
);


// ================
// Grid Components
// ================
// Grid breakpoints
$grid-breakpoints:      (

                          xs: 0,
                          sm: 576px,
                          md: 768px,
                          lg: 992px,
                          xl: 1200px,
                          xxl: 1400px
                        );

// Grid containers
$container-max-widths:  (
                          sm: 540px,
                          md: 720px,
                          lg: 960px,
                          xl: 1140px,
                          xxl: 1320px
                        );

// Grid columns
$grid-columns:          12;
$grid-gutter-width:     1.5rem;
$grid-row-columns:      6;

// Container padding
$container-padding-x: $grid-gutter-width * 2;


// ==========
// Body
// ==========
$body-text-align:           null;
$body-color:                $gray-100;
$body-bg:                   $dark;

$body-secondary-color:      rgba($body-color, .75);
$body-secondary-bg:         $gray-200;

$body-tertiary-color:       rgba($body-color, .5);
$body-tertiary-bg:          $gray-100;

$body-emphasis-color:       $black;


// =====
// Links
// =====
$link-color:                              $primary;
$link-decoration:                         underline;
$link-shade-percentage:                   20%;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage);
$link-hover-decoration:                   null;


// ==========
// Typography
// ==========
// RFS Engine - Resposive type scale
// RFS scales the heading font sizes down from the defined values as the
// viewport narrows lower than the defined $rfs-breakpoint value
// https://github.com/twbs/rfs/tree/v9.0.6#visualisation
$rfs-base-value:              1.125rem;  // Fonts smaller than this size are not effected by the scale. Default: 1.125rem
$rfs-breakpoint:              1200px;   // Viewport widths smaller than this value are effected by the scale. Defaulty: 1200px
$rfs-factor:                  10;       // Lower the number = less effect. Default is 10.


$font-family-sans-serif:      "Roboto Mono", monospace;

$font-size-root:              null;
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 1.25;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;

$line-height-base:            1.5;
$line-height-sm:              1.25;
$line-height-lg:              2;

// https://typescale.com/
// Scale: 1.200 - Minor Third
$h1-font-size:                2.986rem;
$h2-font-size:                2.488rem;
$h3-font-size:                2.074rem;
$h4-font-size:                1.728rem;
$h5-font-size:                1.44rem;
$h6-font-size:                1.2rem;

$headings-margin-bottom:      $spacer * .5;
$headings-font-family:        "Rubik", sans-serif;
$headings-font-style:         null;
$headings-font-weight:        $font-weight-medium;
$headings-line-height:        1.2;
$headings-color:              inherit;

// https://typescale.com/
// Scale: 1.414 - Augmented Fourth
$display-font-sizes:          (
                                1: 7.993rem,
                                2: 5.653rem,
                                3: 3.998rem,
                                4: 2.827rem,
                                5: 1.999rem,
                                6: 1.414rem
                              );

$display-font-family:         null;
$display-font-style:          null;
$display-font-weight:         $headings-font-weight;
$display-line-height:         $headings-line-height;

$lead-font-size:              $font-size-base * 1.25;
$lead-font-weight:            $font-weight-medium;

$small-font-size:             .875em;

// ===========================
// Buttons
// ===========================
$input-btn-font-family:       $headings-font-family;
$btn-font-weight:             $font-weight-medium;


// ===========================
// Forms
// ===========================


// ===========================
// Helpers
// ===========================
$sticky-top:                  $spacer;


// ===========================
// Modals
// ===========================
$modal-content-bg:                  transparent;
$modal-content-border-color:        transparent;
$modal-header-border-color:         transparent;

$modal-fade-transform:              scale(0.95);
// $modal-show-transform:              none;
// $modal-transition:                  transform .3s ease-out;
// $modal-scale-transform:             scale(1.02);






// Older Code
// ===========================
// Main Page Header
// ===========================
$header-padding-bottom-mobile:        2.5rem;
$header-padding-bottom-desktop:       3.5rem;
$header-padding-top-mobile:           6rem;
$header-padding-top-desktop:          8.5rem;

// ===============================
// Header/Section Background Image
// ===============================
$section-bgimg-sm:                    null;
$section-bgimg-lg:                    null;

// ===============================
// Header/Section Background Image
// ===============================
$section-overlay-opacity:             0.25;
