$utilities: map-merge(
  $utilities,
  (
    "min-viewport-height": (
      property: min-height,
      class: min-vh,
      responsive: true,
      values: (
        50: 50vh,
        65: 65vh,
        75: 75vh,
        90: 90vh,
        100: 100vh,
        200: 200vh,
        400: 400vh
      )
    )
  )
);
