@charset "UTF-8";
/* 	============================================================
	ITCSS: Inverted Triangle CSS
	Helps you to organize your project CSS files in such a way
	that you can better deal with (not always easy-to-deal with)
	CSS specifics like global namespace, cascade and selectors specificity.

	 ***************  1. Settings (start your work here)
	  *************   2. Tools
	   ***********    3. Generic
	    *********     4. Elements
	     *******      5. Objects
	      *****       6. Components
	       ***        7. Modules (most work will be done here)
	        *         8. Utilities

	1. Settings
	   No CSS output. Global configuration and variables.
	   Tokens, Colors, Spacing, Breakpoints, Utilities, etc.

	2. Tools
	   No CSS output. Functions and mixins.

	3. Generic
	   Ground zero styles. No classes.

	4. Elements
	   Unclassed (bare) HTML element.
	   H1, Ul, A etc.

	5. Objects
	   Common non-cosmetic structural design patterns.
	   Containers, rows, grids, columns etc.

	6. Components
	   Specific cosmetic elements of UI.
	   Buttons, forms etc.

	7. Modules
	   Multi-part components.
	   Navbar, footer etc.

	8. Utilities
	   Helpers and overrides.

	   Shame
	   All the CSS, hacks and things we are not proud of.

	============================================================ */

// ================
// Settings
// ================
// Gather all function-specific sass files
// @import "function.*";
@import "../../../node_modules/bootstrap/scss/functions";
@import "function.spacing";

@import 'settings.fonts';       // UI Fonts
@import 'settings.variables';	// UI Variables
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";


// =====
// Tools
// =====
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";
// Gather all tool-specific sass files
// @import "tool.*";
@import "tool.utilities";


// =======
// Generic
// =======
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
// Gather all generic sass files
// @import "generic.*";
@import "generic.root";


// ========
// Elements
// ========
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
// Gather all object-specific sass files
// @import "element.*";


// =======
// Objects
// =======
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
// Gather all object-specific sass files
// @import "object.*";
@import "object.sections";


// ==========
// Components
// ==========
@import "../../../node_modules/bootstrap/scss/tables";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
// Gather all component-specific sass files
// @import "component.*";
@import "component.jstransitions";


// =======
// Modules
// =======
// @import "../../../node_modules/bootstrap/scss/dropdown";
// @import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/card";
// @import "../../../node_modules/bootstrap/scss/accordion";
// @import "../../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../../node_modules/bootstrap/scss/pagination";
@import "../../../node_modules/bootstrap/scss/badge";
// @import "../../../node_modules/bootstrap/scss/alert";
// @import "../../../node_modules/bootstrap/scss/progress";
// @import "../../../node_modules/bootstrap/scss/list-group";
@import "../../../node_modules/bootstrap/scss/close";
// @import "../../../node_modules/bootstrap/scss/toasts";
@import "../../../node_modules/bootstrap/scss/modal";
// @import "../../../node_modules/bootstrap/scss/tooltip";
// @import "../../../node_modules/bootstrap/scss/popover";
// @import "../../../node_modules/bootstrap/scss/carousel";
// @import "../../../node_modules/bootstrap/scss/spinners";
// @import "../../../node_modules/bootstrap/scss/offcanvas";
// @import "../../../node_modules/bootstrap/scss/placeholders";
// Gather all module-specific sass files
// @import "module.*";
@import "module.footer";
@import "module.modal";


// =========
// Utilities
// =========
@import "../../../node_modules/bootstrap/scss/helpers";
@import "../../../node_modules/bootstrap/scss/utilities/api";

// Gather all utility-specific sass files
// @import "utility.*";
@import "utility.position";

// ==================
// Vendor (3rd Party)
// ==================
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons";

// =====
// Shame
// =====
.img-logo {
  display: inline-block;
  height: auto;
  max-width: 40rem;
  width: 100%;
}
