---
layout: default

eleventyExcludeFromCollections: true

permalink: /404.html
---
{{#>page-layout-base}}
  {{#*inline "header-content"}}
  <div class="container-xxl">
    <div class="row">
      <div class="col">
        <h1>404 not found</h1>
      </div>
    </div>
  </div>
  {{/inline}}
  {{#*inline "main-content"}}
    <section class="py-5 text-bg-dark">
      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <p>The item you are looking for can not be found.</p>
          </div>
        </div>
      </div>
    </section>
  {{/inline}}
{{/page-layout-base}}
