---
layout: default

pageTitle: Boudreau Labs

bodyClass: null

blTempHead:
  colorTheme: dark
  minHeight: 50
  cntJustify: center
  cntAlign: center
  cntTextAlign: center
  fluidContainer: false

---
{{#>header blTempHead}}
  {{!-- {{#*inline "nav-content"}}
  {{/inline}} --}}
  {{#*inline "header-content"}}
  <h1>Stripe Info</h1>
  {{/inline}}
{{/header}}
<main>
  <section>
    <div class="container">
      <div class="row">
        <div class="col py-5">
          <p>Email: info@boudreaulabs.com</p>
        </div>
      </div>
    </div>
  </section>
</main>
